<a href="https://colab.research.google.com/github/Pranjal-sharma-SDE/Assignment-8/blob/main/Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5

# Q-1

In [2]:
# Using the built-in function 'len()'
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)  # Output: 5

5

In [3]:
# Defining a user-defined function 'square'
def square(x):
  return x*x

#calling the user-define function
square(9)

81

# Q-2

In [4]:
def greet1(name, age):
    print(f"Hello {name}! You are {age} years old.")

# Calling the function with positional arguments
greet1("Alice", 25)
def greet2(name, age):
    print(f"Hello {name}! You are {age} years old.")

# Calling the function with keyword arguments
greet2(age=30, name="Bob")
def greet3(name, age):
    print(f"Hello {name}! You are {age} years old.")

# Calling the function with a mix of positional and keyword arguments
greet3("Alice", age=25)

Hello Alice! You are 25 years old.
Hello Bob! You are 30 years old.
Hello Alice! You are 25 years old.

# Q-3

In [5]:
def check_even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

result1 = check_even_odd(4)
print(result1)  # Output: "Even"

result2 = check_even_odd(7)
print(result2)  # Output: "Odd"

Even
Odd

# Q-4

In [6]:
square= lambda x: x*x
square(5)

25

In [11]:
products = [
    {'name': 'Product1', 'price': 50},
    {'name': 'Product2', 'price': 30},
    {'name': 'Product3', 'price': 40},
    {'name': 'Product4', 'price': 20},
]

sort_dic=sorted(products,key=lambda x: x['price'])
sort_dic

[{'name': 'Product4', 'price': 20},
 {'name': 'Product2', 'price': 30},
 {'name': 'Product3', 'price': 40},
 {'name': 'Product1', 'price': 50}]

# Q-5

In [12]:
x = 10  # Global variable

def my_function():
    x = 20  # Local variable
    print(x)  # Output: 20

my_function()
print(x)  # Output: 10

20
10

# Q-6

In [13]:
def get_name_and_age():
    name = "Alice"
    age = 25
    return name, age

result = get_name_and_age()
name, age = result

print(name)  # Output: "Alice"
print(age)   # Output: 25

Alice
25

# Q-7

In [14]:
# Pass by Value
def modify_value(num):
    num = num + 1
    print(num)  # Output: 6

value = 5
modify_value(value)
print(value)  # Output: 5
#
#Pass by Refrence
def modify_list(my_list):
    my_list.append(4)
    print(my_list)  # Output: [1, 2, 3, 4]

my_list = [1, 2, 3]
modify_list(my_list)
print(my_list)  # Output: [1, 2, 3, 4]

6
5
[1, 2, 3, 4]
[1, 2, 3, 4]

# Q-8

In [15]:
import math

def perform_operation():
    x = float(input("Enter a value: "))
    operation = input("Enter the operation (log, exp, power, sqrt): ")

    result = None

    if operation == "log":
        result = math.log(x)
    elif operation == "exp":
        result = math.exp(x)
    elif operation == "power":
        result = 2 ** x
    elif operation == "sqrt":
        result = math.sqrt(x)
    else:
        print("Invalid operation")

    if result is not None:
        print("Result:", result)

perform_operation()

Enter a value: 9
Enter the operation (log, exp, power, sqrt): log
Result: 2.1972245773362196

# Q-9

In [20]:
def extract_first_last_name(full_name):
    names = full_name.split()
    first_name = names[0]
    last_name = names[-1]
    return first_name, last_name

full_name = "Pranjal Kumar Sharma"
first_name, last_name = extract_first_last_name(full_name)
print("First Name:", first_name)
print("Last Name:", last_name)

First Name: Pranjal
Last Name: Sharma